
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

 /* CARDS */
.card {
    display:inline-block;
    height: 100%;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    background-color: white;
}

.card-body{
    padding: 2px 16px;
    max-width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card-img-top{
    max-width: 100%;

}
/* BUTTONS */




/* OTHER */

.sideBySide {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    max-width: 500rem;

}

.background {
    background-color: #cfe2f3;

}


.input_field {

    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 36px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
}

:focus{
    border: 2px solid #000;
    border-radius: 4px;
}


select {
    width: 300px;
    padding: 12px;
    border: 0 !important;
    background-color: #0b5394;
    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("src/Pics/arrow-square-up-svgrepo-com.svg");
    background-size: 2em;
    background-position: calc(100% - 1.3em) center;
    background-repeat: no-repeat;
}
select::-ms-expand {
    display: none;
}


table {
    width: 100%;
}


